
@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/Tecna.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'boldfont';
    src: url('/fonts/TecnaExtrabold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;


}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

header {
    height: 14vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: white;
    z-index: 1000; 
    position: fixed; /* Maak de header vast */
    top: 0; /* Zorg dat het aan de bovenkant blijft */
    box-shadow: 0.4px 0.4px;
}


header img {
    height: 57%;
    width: auto;
    position: relative;
    top: 1px;
    left: -4px;
}

.logofooter {
    height: 57%;
    width: 10vw;
    position: relative;
    right: 1.5vw;
}

#beforeDIV {
    height: 95vh;
    width: 50%;
    position: relative;
    background-color: blueviolet;
}
#imgdiv {
    height: 95vh;
    width: 50%;
    
    left: 50%;
    position: relative;
    background-color: rgb(141, 124, 156);
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a:hover {
 
    padding-bottom: 5px;
    box-shadow: 0px 27px 6px 0px rgba(0,0,0,0.45);
}

main {
    
    width: 100%;
    position: relative;
    background-color: #e3eff7;
    padding-bottom: 50px;
    
}

.titel {
    margin-top: 15vh;
    font-size: 2rem;
    font-weight: 700;
    color: #242424; /* Accentkleur */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    
}

.tekst {
    margin: 50px auto;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #4A4A4A;
    text-align: center;
    max-width: 80%;
    padding: 25px 40px;
}

.tekst p {
    margin-bottom: 1.5em;
}
.container {
    margin-top: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8vh; 
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.app {
    overflow: hidden;
    height: 425px;
    
    border-radius: 2px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.7s ease, transform 0.7s ease; /* Alleen de background-color en transform animeren */
    cursor: pointer; 
    width: 375px;
    right: 20px;
    position: relative;
}
.app img {

    position: relative;
    z-index: 2; 
}

/* Hover animation: background transitions to white, text changes to red */
.app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: width 0.7s ease;
    z-index: 0;
}

.app:hover::before {
    width: 100%;
}
.app:hover {
    background-color: white; /* Background verandert naar wit bij hover */
    transform: scale(1.01); 
    color: orangered;
}

.app p, .app .apptitle {
    position: relative;
    z-index: 1;
    
}
.apptitle {
 
    
}
.homepage-image {
    height: 325px;
    width: 325px;
    object-fit: cover; /* Zorgt ervoor dat de afbeelding de container vult met behoud van aspect ratio */
    object-position: center; /* Centreert de afbeelding binnen de container */
    display: block;
}


.app-date {
    position: relative;
    top: 15px;
    right: 27%;
    font-size: 0.85rem;
}

.apptitle {
    font-weight: bold;
    width: 500px;
    font-size: 1.4rem;
    position: relative;
    top: 0;
    
    right: 17.5%;
   
}

.beschrijving {
    font-size: 1rem;
    margin-top: 15px;
}

.popup {
    display: none;
    position: fixed;
    left: 20%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 900px;
    background-color: #c4e9e9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.popup-left {
    flex: 1;
    max-width: 45%;
    margin-right: 30px;
}

.popup-right {
    flex: 2;
    max-width: 55%;
}

.popup img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Zorgt ervoor dat de afbeelding de container vult met behoud van aspect ratio */
 /* Centreert de afbeelding binnen de container */
    display: block;
    max-height: 475px;
    max-width: 425px;
    border-radius: 0;
}

#popupTitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#popupDescription {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-height: 14rem;
    overflow: hidden;
}

.studenten {
    width: 8vw;
    height: 5vh;

    position: absolute;
    right: 20vw;
    top: 0;
    line-height: 2;
  
}
.studenten2 {
    top: 0;
    width: 10vw;
    height: 5vh;
  
    position: absolute;
    right: 10vw;
    line-height: 2;
}
.studenten3 {
    top: 0;
    width: 10vw;
    line-height: 2;
    height: 5vh;
   
    position: absolute;
    right: 0vw;
}
.texts {
    width: 50%;
    height: 100%;

}
#subtitel {
    top: 50vh;
}

.textss {
    position: absolute;
    top: 42vh;
    left: 0;
    width: 36vw;
    font-size: large;
  
}
.subtitel {
    position: relative;
    left: 1vw;
    top: 28px;
    font-family: 'boldfont', sans-serif;
    font-size: 45px;

}
.subtext {
    position: relative;
    left: 1vw;
    top: 1px;
    
    font-size: 22px;
}

#vrimg {
    position: absolute;
    right: 0vw;
    height: 100vh;
    top: 12vh;
    zoom: 111%;

    width: 50%;
    /* object-fit: cover; Zorgt ervoor dat de afbeelding de container vult met behoud van aspect ratio */
    /* Centreert de afbeelding binnen de container */
    display: block;
}
#vrimg img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 100%;
}
#hero {
    height: 100vh;
    width: 100%;
  
}
#popupbutton {
    display: block;
    padding: 15px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: red;
    transition: color 0.3s ease;
}

.close:hover {
    color: #000;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .titel {
        font-size: 1.5rem;
    }

    .tekst {
        font-size: 0.9rem;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        gap: 4vh;
    }

    .app {
        height: 180px;
        padding: 15px;
    }

    .apptitle {
        font-size: 1rem;
    }

    .beschrijving {
        font-size: 0.9rem;
    }

    .popup {
        position: fixed;
        width: 20%;
        left: 10%;
        top: 20%;
        transform: translate(-50%, -50%);
    }

    .popup-content {
        flex-direction: column;
    }

    .popup-left,
    .popup-right {
        max-width: 100%;
    }

    .popup-left {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #popupTitle {
        font-size: 1.5rem;
    }

    #popupDescription {
        max-height: none;
    }

    #popupbutton {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .titel {
        font-size: 1.2rem;
    }

    .tekst {
        font-size: 0.8rem;
    }

    .container {
        grid-template-columns: 1fr; 
    }

    .app {
        height: 150px;
        padding: 10px;
    }

    .apptitle {
        font-size: 0.9rem;
    }

    .beschrijving {
        font-size: 0.8rem;
    }

    .popup {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
    }

    #popupImage {
        max-height: 30vh;
    }

    #popupTitle {
        font-size: 1.2rem;
    }

    #popupDescription {
        font-size: 0.8rem;
    }

    #popupbutton {
        font-size: 0.8rem;
    }
}

footer {
    background-color: #000; /* Matches the background in the image */
    color: white;
    padding: 80px 20px; /* Adjust padding as needed */
    text-align: left;
}
.footer-container {
    display: flex;
    justify-content: space-between; /* Verdeel de ruimte gelijkmatig */
    flex-wrap: wrap; /* Zorgt ervoor dat de secties mooi blijven wanneer het scherm kleiner is */
}


.footer-section {
    flex: 1; /* Zorgt ervoor dat ze gelijk verdeeld worden */
    margin: 0 30px;
    min-width: 200px;
 
}
.footer-section h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-contact {
    text-align: right;
}

.footer-contact a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a img {
    width: 30px;
    margin-right: 10px;
}

footer p {
    margin-top: 30px;
    font-size: 0.9em;
    text-align: center;
}
.page-number {
    text-align: right;
    padding: 10px;
    font-size: 14px;
    color: #333; /* Adjust color as needed */
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
}

.pagination a:hover {
    background-color: #ddd;
}


a { color: inherit;
text-decoration: none;
} 

.mailons, .belons {
    height: 8vh;
    width: 11vw;
    font-size: 20px;
    text-align: center;
    line-height: 3.5;
    color: black;
    
}

.mailons {
    background-color: wheat;
    text-decoration: none;
    position: relative;
    top: -10vh;
    right: 15vw;
    
}
.belons {
  
    color: black;
}